header {
        height:150px;
        text-align: center;
        background-color:lightcyan
        
    }

    .header-list  {
        
        background-color: blueviolet;
    
}

li {
        list-style: none;
        float: left;
        
}
    body {
            background-color:#FFFFCC;
            margin:10px 150px;
         }
    h1 {
            color:#000000;
       }
    
    p {
        color:#0000FF;
      }
    

