header {
        height:200px;
        text-align: center;
        background-color:lightcyan
        
    }
    
    body {
            background-color:#FFFFCC;
            margin:150px 10px;
         }
    h1 {
            color:#000000;
       }
    
    p {
        color:#0000FF;
      }
    
.header-list  {
            
            float:left;
            padding: 10px;
            background-color: blueviolet;
    }
li {
        list-style: none;
}