header {
        height:200px;
        text-align: center;
        background-color:lightcyan
        
    }

    .header-list  {
        list-style: none;
    float:left;
    padding: 10px;
    background-color: blueviolet;
}

    body {
            background-color:#FFFFCC;
            margin:150px 10px;
         }
    h1 {
            color:#000000;
       }
    
    p {
        color:#0000FF;
      }
    

